*.iml
.gradle
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
.kotlin/
.kotlin/metadata/

.settings
.project
.classpath
.vscode
build
Pods
xcuserdata
local.gradle
kotlin-js-store/
moko-resources-generated.js

# Local configuration file (sdk path, etc)
/local.properties
/keystore.properties
/apikey.properties
local.properties
keystore.properties
apikey.properties
